@font-face {
	font-family:'Roboto-Li';
	src: url('../font/Roboto-LightItalic_0.ttf');
}

@font-face {
	font-family:'Roboto-L';
	src: url('../font/Roboto-Light_0.ttf');
}

@font-face {
	font-family:'Roboto-M';
	src: url('../font/Roboto-Medium_0.ttf');
}

@font-face {
	font-family:'Roboto-Mi';
	src: url('../font/Roboto-MediumItalic_0.ttf');
}


@font-face {
	font-family:'Roboto-B';
	src: url('../font/Roboto-Black_0.ttf');
}

@font-face {
	font-family:'Roboto-R';
	src: url('../font/Roboto-Regular_0.ttf');
}

@font-face {
	font-family:'ClearSans';
	src: url('../font/ClearSans-Regular.ttf');
}

@font-face {
	font-family:'ClearSans-M';
	src: url('../font/ClearSans-Medium.ttf');
}

@font-face {
	font-family:'ClearSans-B';
	src: url('../font/ClearSans-Bold.ttf');
}

@font-face {
	font-family:'Panton-Bc';
	src: url('../font/Panton-BlackCaps.otf');
}

@font-face {
	font-family:'Panton-Bic';
	src: url('../font/Panton-BlackitalicCaps.otf');
}